<h1>Welcome to our Privacy Policy</h1>
<h3>Your privacy is critically important to us.</h3>
The main developer (hotlittlewhitedog) of Bible Multi "The Light" is located in Belgium.<br/>

<p>It is Bible Multi "The Light"'s policy to respect your privacy regarding any information we may collect while operating our website.
	This Privacy Policy applies to <a href="https://gitlab.com/hotlittlewhitedog/BibleMultiTheLight">https://gitlab.com/hotlittlewhitedog/BibleMultiTheLight</a> (hereinafter, "us", "we", or "https://gitlab.com/hotlittlewhitedog/BibleMultiTheLight").
	We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website.
	We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website,
	how we use this information, and under what circumstances we may disclose the information to third parties.
	This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>

<p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website.
	Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.
</p>
<br>

<h2>Links To External Sites</h2>
<p>Our Service may contain links to external sites that are not operated by us.
	If you click on a third party link, you will be directed to that third party's site.
	We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.
</p>
<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>
<br>

<h2>Credit & Contact Information</h2>
<p>If you have any questions about this Privacy Policy, please contact us via <a href="mailto:hotlittlewhitedog@gmail.com">email</a>.
</p>
